<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>
	Events 'R' Us - 
	{% block title_block %}
	{% endblock %}
	</title>
	<!--
		Scripts/CSS
	-->
    <link href="{% static '\css\bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '\css\override.css' %}" rel="stylesheet">
    <link href="{% static '\css\font-awesome.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    {% block head_block %}
    {% endblock %}
  </head>
  <body>
    <!--
        Nav bar
    -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="d-flex flex-grow-1">
            <a class="navbar-brand d-lg-inline-block" href="#">
                <img src="{% static '/images/navbar-image.png' %}" height="55" alt="Events R Us logo">
            </a>
        </div>
        <div class="navbar-collapse flex-grow-1 text-right">
            <ul class="navbar-nav ml-auto flex-nowrap font-weight-bold text-uppercase">
				<!-- 
					TODO: Link these to the proper location once the views are setup
				-->

				<!--
					TODO: Make authenticated user navbar links
				-->

                <li class="nav-item">
                    <a href="#" class="nav-link m-2">Log in</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2">Sign up</a>
                </li>

            </ul>
        </div>
    </nav>

	{% block body_block %}
	{% endblock %}
  </body>
</html>