{% extends 'events/base.html' %}
{% load static %}

{% block title_block %}
    Event deletion
{% endblock %}

{% block head_block %}
{% endblock %}

{% block body_block %}
<div class="container manage-event-box">
    {% if status == 1 %}
    <div class="alert alert-success" role="alert">
        <span class="font-weight-bold">{{ event.EventName }}</span> deleted successfully!
    </div>
    {% elif status == 2 %}
    <div class="alert alert-danger" role="alert">
        The specified event does not exist or has already been deleted!
    </div>
    {% endif %}
    <a type="button" href="{% url 'events:manage_events' %}" class="btn btn-light">Return to events<a>
</div>
{% endblock %}