{% extends 'events/base.html' %}
{% load static %}

{% block title_block %}
    Add an event
{% endblock %}

{% block head_block %}
    <script src="{% static '/js/image_popup.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="container">
    <div id="event-header-image" class="height-crop event-image-shadow">
        <img src="{{ event.Picture.url }}" class="img-fluid"  id="event-image" alt="Event image">
    </div>

    <div id="event-image-popup" class="popup">
        <span class="close-popup"><i class="fa fa-times" aria-hidden="true"></i></span>

        <!-- Modal Content (The Image) -->
        <img class="popup-content" id="popup-image">
    </div>

    <div class="row">
      <!--
        Main body
      -->
      <div class="col-8">
        <div id="event-info">
          <h3>{{ event.EventName }}</h3>
          <h6>{{ event.category }}</h6>
          <p>{{ event.Description }}</p>
        </div>

        <!--
            TODO: Comment system :)
        -->
        <div id="comment-section">
          <h4>COMMENTS</h4>
        </div>
      </div>

      <!--
        Sidebar area
      -->
      <div class="col-4">
        <div class="card">
            <!--
                TODO: Implement map
            -->
            <img class="card-img-top" src="{% static '/images/map-placeholder.png' %}" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">
                    {{ event.UserID.username }}</h5>
                <p class="card-text">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{ event.DateTime }}
                </h6>
                <p class="card-text">
                    {{ event.Address }}
                </p>
            </div>
            <!--
              TODO: Rating system
            -->
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    Rate
                </button>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}