{% extends 'events/base.html' %}
{% load static %}

{% block title_block %}
  {{ event.EventName }}
{% endblock %}

{% block head_block %}
    <script src="{% static '/js/submit_rating.js' %}"></script>
    <script src="{% static '/js/image_popup.js' %}"></script>

    <!-- Map JS/CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/leaflet/1/leaflet.js"></script>
    <script src="{% static '/js/event_map.js' %}"></script>
    <script src="{% static '/js/reply_button.js' %}"></script>

{% endblock %}

{% block body_block %}
<div class="container event-container">
    <div id="event-header-image" class="height-crop event-image-shadow">
        <img src="{{ event.Picture.url }}" class="img-fluid"  id="event-image" alt="Event image">
    </div>

    <div id="event-image-popup" class="popup">
        <span class="close-popup"><i class="fa fa-times" aria-hidden="true"></i></span>

        <!-- Modal Content (The Image) -->
        <img class="popup-content" id="popup-image">
    </div>

    <div class="row">
      <!--
        Main body
      -->
      <div class="col-8">
        <div id="event-info">
          <h3>{{ event.EventName }}</h3>
          <h6>{{ event.category }}</h6>
          <p>{{ event.Description }}</p>
        </div>

        <!--
            Comment system :)
        -->
		<div class="card-body">
			<div id="comment-section">
				<h4>{{ comments.count }} comments</h4>
				<!--Comment display-->
				{% for comment in comments %}
				{% if not comment.ParentCommentID %}
				<div class="comments mt-2">
					<p class="font-weight-bold">
            {% if comment.UserID == event.UserID %}
						<p class = "font-weight-bold" style="color:green;">{{comment.UserID.username}}</p>
            {% else %}
            {{comment.UserID.username}}
            {% endif %}
						<span class="text-muted font-weight-normal">
							{{comment.CreatedOn}}
						</span>
					</p>
					{{comment.Comment | linebreaks }}
					<!--Reply button-->
					{% if user.is_authenticated %}
					<footer class="blockquote-footer">
						<button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm">Reply</button>
            {% if user == comment.UserID %}
            <a class="btn btn-danger btn-sm" href="{% url 'events:delete_comment' id=comment.EventID.EventID event_slug=comment.EventID.slug comment_id=comment.CommentID %}">Delete</a>
            {% endif %}
        	</footer>

					<div class="replied-comments container mt-2" style="display:none">
						<div class="from-group row">
							<form method="post">
								{% csrf_token %}
								{{commentForm.as_p}}
								<input type ="hidden" name="parent_id" value ="{{ comment.CommentID }}">
								<input class="btn btn-outline-dark btn-sm" type="Submit" value="Submit">
							</form>
						</div>
					</div>
					{% endif %}
					<!--Reply display-->
					<div class = "relpies ml-4">
					{% for reply in comment.replies.all %}
						<p class = "font-weight-bold mt-2">
              {% if reply.UserID == event.UserID %}
  						<p class = "font-weight-bold" style="color:green;">{{reply.UserID.username}}</p>
              {% else %}
              {{reply.UserID.username}}
              {% endif %}
						<span class= "text-muted font-weight-normal">
							{{reply.CreatedOn}}
						</span>
						</p>
						{{reply.Comment | linebreaks }}
						<!--Reply button-->
						{% if user.is_authenticated %}
						<footer class="blockquote-footer">
							<button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm">Reply</button>
              {% if user == comment.UserID %}
                <a class="btn btn-danger btn-sm" href="{% url 'events:delete_comment' id=reply.EventID.EventID event_slug=reply.EventID.slug comment_id=reply.CommentID %}">Delete</a>
              {% endif %}
						</footer>

						<div class="replied-comments container mt-2" style="display:none">
							<div class="from-group row">
								<form method="post">
									{% csrf_token %}
									{{commentForm.as_p}}
									<input type ="hidden" name="parent_id" value ="{{ reply.CommentID }}">
									<input class="btn btn-outline-dark btn-sm" type="Submit" value="Submit">
								</form>
							</div>
						</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
				{% if user.is_authenticated %}
				<div class="card-body">
					<h5>Leave a comment</h5>
					<form method="post">
						{% csrf_token %}
						{{commentForm.as_p}}
						<input type="submit" value="Submit">
					</form>
				</div>
				{% else %}
				<div class="row">
					<p>You must be logged in to comment.</p>
				</div>
				{% endif %}
			</div>
        </div>
		</div>

      <!--
        Sidebar area
      -->
      <div class="col-4">
        <div class="card">
            <!--
                Map
            -->
            <input type="hidden" id="Latitude" name="Latitude" value="{{ event.Latitude }}">
            <input type="hidden" id="Longitude" name="Longitude" value="{{ event.Longitude }}">
            <div class="card-img-top" id="map-container"></div>

            <!--
              Event info body
            -->
            <div class="card-body">
                <h5 class="card-title">
                    {{ event.UserID.username }}</h5>
                <p class="card-text">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{ event.DateTime }}
                </h6>
                <p class="card-text">
                    {{ event.Address }}
                </p>
            </div>
            <!--
              Rating system
            -->
            <div class="card-footer">
              {% if user.is_authenticated %}
                <form role="form" name="rating_form" id="rating_form" method="post" enctype="multipart/form-data" action="{% url 'events:show_event' id=event.EventID event_slug=event.slug %}">
                    {% csrf_token %}
                    <p class="card-text rating-head">Your rating:</p>
                    <fieldset class="rating" name="rating_set">
                      {{ form.rating.9.tag }}<label class ="full" for="{{ form.rating.9.id_for_label }}" title="5 stars"></label>
                      {{ form.rating.8.tag }}<label class="half" for="{{ form.rating.8.id_for_label }}" title="4.5 stars"></label>
                      {{ form.rating.7.tag }}<label class ="full" for="{{ form.rating.7.id_for_label }}" title="4 stars"></label>
                      {{ form.rating.6.tag }}<label class="half" for="{{ form.rating.6.id_for_label }}" title="3.5 stars"></label>
                      {{ form.rating.5.tag }}<label class ="full" for="{{ form.rating.5.id_for_label }}" title="3 stars"></label>
                      {{ form.rating.4.tag }}<label class="half" for="{{ form.rating.4.id_for_label }}" title="2.5 stars"></label>
                      {{ form.rating.3.tag }}<label class ="full" for="{{ form.rating.3.id_for_label }}" title="2 stars"></label>
                      {{ form.rating.2.tag }}<label class="half" for="{{ form.rating.2.id_for_label }}" title="1.5 stars"></label>
                      {{ form.rating.1.tag }}<label class ="full" for="{{ form.rating.1.id_for_label }}" title="1 star"></label>
                      {{ form.rating.0.tag }}<label class="half" for="{{ form.rating.0.id_for_label }}" title="0.5 stars"></label>
                    </fieldset>
                    {{ form.rating.errors }}
                </form>
              {% else %}
                <p class="card-text rating-head">You must be logged in to leave a rating</p>
              {% endif %}
            </div>
            <div class="card-footer">
              {% if num_of_ratings > 0 %}
                <h4>{{ total_rating }}<span id="small-max-rating">/5.0</span></h4>
                <p class="card-text">Average rating from {{ num_of_ratings }} user(s)</p>
              {% else %}
                <p class="card-text">No users have rated this event yet.</p>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
