{% extends 'events/base.html' %}
{% load static %}
{% load add_attr %}

{% block title_block %}
    Manage events
{% endblock %}

{% block head_block %}

{% endblock %}

{% block body_block %}
    <!-- Temp -->
    <div class="container justify-content-center event-card-box">
        <div class="row">
            {% for event in events_list %}
            <div class="col-sm-4 mb-5">
                <div class="card">
                    <img class="card-img-top" src="{{ event.Picture.url }}" alt="Event thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'events:edit_event' id=event.EventID %}">
                                {{ event.EventName }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ event.DateTime }}</small>
                    </div>
                  </div>
            </div>
            {% endfor %}
          </div>
    </div>
{% endblock %}